@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: '--font-roboto' ; 
  --font-nunito-sans: '--font-roboto' ; 
  --font-raleway: '--font-raleway' ; 
}

.Toastify {
  padding: 0 !important;
}

